services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    volumes:
      - ~/.n8n:/home/node/.n8n
    environment:
      - TZ=Asia/Tokyo

  python-app:
    build:
      context: ./python-app
      dockerfile: Dockerfile
    working_dir: /app

    # ←← これが LIVE ファイル同期の本体！！
    volumes:
      - ./python-app:/app

    command: ["/bin/bash"]
